!!! 5
html
  head
    title CanIUse Datavis
    
    script( src="/vendor/event.js" )
    script( src="/vendor/d3.v2.js" )
    script( src="/vendor/underscore.js" )
    script( src="/vendor/async.min.js" )
    script( src="/vendor/deepcopy.js" )
    
    script( src="/scripts/bootstrap.js" )
    script( src="/scripts/analytics.js" )
    script( src="/scripts/usageprofiler.js" )
    script( src="/scripts/compatibilityprofiler.js" )
    script( src="/scripts/graph.js" )
    script( src="/scripts/app.js" )
    
    script( src="https://apis.google.com/js/client.js?onload=gaLoadComplete" )
    
    link( rel="stylesheet", href="/stylesheets/app.css" )

  body
  
    svg#canvas( xmlns:xlink="http://www.w3.org/1999/xlink" )
